body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

aside {
    align-items: left;
    padding: 10px;
    display: flexbox;
}

h1 {
    margin-bottom: 30px;
}

aside a {
    font-family: Arial;
    color: lightgrey;
    padding: 6px;
    margin: 5px;
}

aside a i {
    padding: 4px;
}

aside i {
    margin-right: 2%;
}

#spotify {
    font-size: 2.7ch;
}

aside .selected {
    border-left: 2px solid limegreen;
}

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 2px;
    padding-top: 20px;
    z-index: 10000;
}

header a {
    margin: 10px;
    border: 2px solid lightgray;
    width: 130px;
    text-align: center;
    font: Arial;
    border-radius: 15px;
    padding: 6px;
    text-transform: uppercase;
    font-size: 3.7mm;
}

#profile {
    background-color: rgb(63, 63, 63);
    color: lightgray;
    border-color: rgb(63, 63, 63);
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 3px;
}

nav a {
    margin: 15px;
    text-align: center;
    font: Arial;
    text-transform: uppercase;
    font-size: 3.4mm;
    color: rgb(167, 167, 167);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav .selected {
    border-bottom: 2px solid limegreen;
    font-weight: bold;
    padding-bottom: 2px;
}

/*************************/
/* Part C: Artists Panel */
/*************************/

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


article section {
    width: 20%;
    padding: 2.5mm;
    margin-bottom: 1mm;
}

.artist-card div {
    padding: 5.5mm;
    background-color: rgb(37, 37, 37);   
    border-radius: 5%;
    font-size: 10.6pt;
    font-family: Arial;
    height: 300px;
}

article h3 {
    transform: scale(1,0.96);
}

article p {
    transform: scale(1,0.96);
    color: lightgray;
    line-height: 0px;
}

.play-button i {
    visibility: hidden;
}

article img {
    background-size: cover;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

/**************************/
/* Part D: Responsive UIs */
/**************************/

@media screen and (max-width: 1200px) {
    article section {
        width: 33.3%;
    }
    .artist-card div {
        height: 100%;
    }
}
@media screen and (max-width: 800px) {
    article section {
        width: 50%;
    }
    .artist-card div {
        height: 100%;
    }
    body {
        grid-template-columns: auto;
        grid-template-rows: auto 100px;
        grid-template-areas:
        "main"
        "bottom";
    }
    aside {
        grid-area: unset;
        display: none;
    }
    header {
        width: 100%;
        left: 0px;
    }
}


