main {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "list paragraph";
    background-color: rgb(233, 132, 157);
}

.bulleted_list {
    grid-area: list;
    padding: 20px;
    padding-top: 5px;
    padding-right: 0px;
}

.bulleted_list ul {
    background-color: white;
    list-style-type: none;
    padding: 10px;
    padding-right: 8px;
    padding-left: 7.3mm;
    overflow: inherit;
}

li::before {
    content: "\25A2  ";
    display: inline-block;
    width: 1.1em;
    margin-left: -1.1em
}     

#more {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
}

#more span {
    font-size: 17pt;
    color: rgb(105, 105, 105);
    visibility: hidden;
}


.paragraph {
    grid-area: paragraph;
    margin: 5px;
    padding: 20px;
}

.paragraph p {
    background-color: white;
    min-height: 300px;
    height: fit-content;
    padding: 7px;
}

.paragraph i {
    color: rgb(63, 63, 63);
}

#first_list {
    margin-bottom: 0;
    padding-bottom: 0;
}

#more:hover span{
    visibility: visible;
}

/* [contenteditable="true"]:active, */
[contenteditable="true"]:focus{
  border:none;
  outline:solid rgba(190, 190, 190, 0.883) 2px;
}

button:focus {
    outline:none;
}

.bulleted_list li:hover {
    background-color: rgba(209, 209, 209, 0.404);
}

li:hover::before {
    color: rgb(214, 94, 124);
}

li.marked::before {
    content: '\2611  ';
}

li.marked {
    text-decoration: line-through;
}

@keyframes disappear {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

li.marked.deleted {
    opacity: 100%;
    animation-name: disappear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

li.marked.deleted.nothing {
    display: none;
}