main {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "list paragraph";
    background-color: rgb(255, 255, 166);
}

.bulleted_list {
    grid-area: list;
    padding: 20px;
    padding-top: 5px;
    padding-right: 0px;
}

.bulleted_list ul {
    background-color: white;
    list-style-type: '\25A2  ';
    padding: 7px;
    padding-left: 7.3mm;
}

#more {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
}

#more span {
    font-size: 17pt;
    color: rgb(105, 105, 105);
    visibility: hidden;
}


.paragraph {
    grid-area: paragraph;
    margin: 5px;
    padding: 20px;
}

.paragraph p {
    background-color: white;
    min-height: 300px;
    height: fit-content;
    padding: 7px;
}

.paragraph i {
    color: rgb(63, 63, 63);
}

#first_list {
    margin-bottom: 0;
    padding-bottom: 0;
}

#more:hover span{
    visibility: visible;
}

/* [contenteditable="true"]:active, */
[contenteditable="true"]:focus{
  border:none;
  outline:solid rgba(190, 190, 190, 0.883) 2px;
}

button:focus {
    outline:none;
}