main {
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "box time";
}

.bulleted_list {
    grid-area: box;
    padding: 20px;
    padding-top: 5px;
    padding-right: 0px;
}

.bulleted_list ul {
    background-color: white;
}


#date, #time {
    grid-area: time;
    display: flexbox;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.time {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

