@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=KoHo:ital,wght@1,200&family=Krub:wght@500&display=swap');

body * {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 130px calc(100vh - 130px);
    grid-template-areas: 
        "title tabs"
        "main main";
    height: 100vh;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image:
        linear-gradient(rgba(121, 121, 121, 0.685) 1px, transparent 1px),
        linear-gradient(90deg, rgba(121, 121, 121, 0.685) 1px, transparent 1px);
    background-size: 35px 35px, 35px 35px;
    background-position:-2px -2px, -2px -2px;
}

header {
    grid-area: title;
}

nav {
    grid-area: tabs;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}

nav div {
    display: flexbox;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    align-self: flex-end;
    border-radius: 10%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: rgb(173, 173, 173);
    border-width: 2px;
    border-bottom-width: 0px;
    border-style: solid;
    text-transform: uppercase;
}

#today {
    background-color: rgb(207, 241, 225);
}

#month {
    background-color: rgb(255, 255, 166);
}

main {
    grid-area: main;
    background-color: rgb(207, 241, 225);
    border-top: rgb(173, 173, 173);
    /* border-top-style: solid; */
}

nav a {
    font-family: 'Krub', sans-serif;
    font-size: 17pt;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}

h1 a {
    font-family: 'KoHo', sans-serif;
    font-size: 90px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

h1 {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

